<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
        bootstrap="vendor/autoload.php"
        executionOrder="random"
        beStrictAboutOutputDuringTests="true"
        cacheDirectory=".phpunit.cache"
        requireCoverageMetadata="true"
>
  <coverage>
    <report>
      <clover outputFile="build/logs/clover.xml"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="unit">
      <directory suffix="Test.php">tests/Unit</directory>
    </testsuite>
    <testsuite name="integration">
      <directory suffix="Test.php">tests/Integration</directory>
    </testsuite>
  </testsuites>
  <logging/>
  <source>
    <include>
      <directory suffix=".php">MetaDataTool</directory>
    </include>
  </source>
</phpunit>
